
frontend/frontend.exe
frontend/main.go
frontend/config.json
backend/backend.exe
backend/aclivechat-0.0.8-windows.zip
backend/aclivechat.exe
frontend/aclivechat.exe
frontend/backend.exe
backend/aclivechat-backend.exe
frontend/aclivechat-backend.exe
frontend/package-lock.json
